
body {
    font-family: Arial, sans-serif;   
}

#logo {
    background-image: url(../images/header.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 334px;
    height:117px;
    margin: 0px auto;
}

header, section {
    width: 700px;
    margin: 0px auto;
}
.left {
    float: left;
}
.right {
    float: right;   
}

.clearFloat {
    clear: both;
}

#searchWrapper {
    width: 334px;
    margin: 0px auto;
}
#errorText{
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 14px;
    color:#ff0000;
}
nav {
    width: 680px;
    margin: 0px auto;
    padding: 10px 10px 20px 10px;
    background-color: #cccccc;
}
nav input:first-child {
    float: left;
}
nav input:nth-child(2) {
    float: right;
}

.disabled {
    background-color:coral;   
}
.thumbnail {
    float:left;   
}