
body {
    font-family: Arial, sans-serif;   
}

#logo {
    background-image: url(../images/header.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 334px;
    height:117px;
    margin: 0px auto;
}

header, section {
    width: 700px;
    margin: 0px auto;
}
#contentWrapper {
    margin: 20px 0px 0px 0px;
}
.left {
    float: left;
}
.right {
    float: right;   
}

.clearFloat {
    clear: both;
}

#searchWrapper {
    width: 334px;
    margin: 0px auto;
}
.errorText{
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 14px;
    color:#ff0000;
}
nav {
    width: 680px;
    margin: 0px auto;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid #8b8b8b;
    text-align: center;
}
nav input:first-child {
    float: left;
}
nav input:nth-child(2) {
    float: right;
}
input[type="button"], input[type="submit"] {
    border: 1px solid #000000;
    cursor: pointer;
}
.disabled {
    background-color:#e6e6e6;
    border-color: #b4b4b4 !important;
    color:#a0a0a0;
    cursor:auto !important;
}
.thumbnail {
    float:left;   
}
.center {
    font-size: 12px;
    width: 200px;   
}
#navInfo {
    position: relative;
    top: -18px;
    left: 72px;
    width: 514px;
}








