<!DOCTYPE html>
<html ng-app="insta">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/stylesheet" href="css/app.css" />
        <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
        
        <script type="text/javascript" src="scripts/app.js"></script>      
    </head>
    <body ng-controller="MyController">
        <header>
            <div id="logo"></div>
            <div id="searchWrapper">
                <form>
                    <div class="left">
                        <input type="text" name="search" placeholder="Search text" ng-model="searchCriteria" />
                    </div>
                    <div class="right">
                        <input type="submit" ng-click="searchInstagram()">
                    </div>
                    <div class="clearFloat"></div>
                    <div id="errorText">

                    </div>
                </form>
            </div>
        </header>
        <section>
        
        </section>
        

        <pre>
            {{ results | json }}
            
            {{ searchCriteria }}
        </pre> 
    </body>
</html>