<!DOCTYPE html>
<html ng-app="insta">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/stylesheet" href="css/app.css" />
        <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
        
        <script type="text/javascript" src="scripts/app.js"></script>      
    </head>
    <body ng-controller="MyController">
        <header>
            <div id="logo"></div>
            <div id="searchWrapper">
                <form>
                    <div class="left">
                        <input type="text" name="search" placeholder="Search text" ng-model="searchCriteria" />
                    </div>
                    <div class="right">
                        <input type="submit" ng-click="searchInstagram()">
                    </div>
                    <div class="clearFloat"></div>
                </form>
            </div>
        </header>
        <nav ng-show="results.pageObjects.length !== 0">
            <input type="button" ng-class="{'disabled' : pageObjects.length >= 1}" ng-click="previousPage()" value="previous" /> 
            <input type="button" ng-class="{'disabled' : pageObjects.length !== 0}" ng-click="nextPage()" value="next" />
            <div class="clearFloat"></div>
        </nav>
        <section ng-repeat="pages in pageObjects" ng-if="$index === pageObjects.length -1">
            <div class="thumbnail" ng-repeat="page in pages.data">
                <a href="{{ page.link}}" target="_blank">
                    <img src="{{ page.images.thumbnail.url }}" width="100" height="100" border="0" />
                </a>
            </div>
        </section>
        <div class="clearFloat"></div>

        <pre>
            
            {{ pageObjects[pageObjects.length -1] | json }}
            
            
        </pre> 
    </body>
</html>