<!DOCTYPE html>
<html ng-app="insta">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/stylesheet" href="css/app.css" />
        <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
        
        <script type="text/javascript" src="scripts/app.js"></script>      
    </head>
    <body ng-controller="MyController">
        <pre>
            {{ error }}
        </pre>
        <header>
            <div id="logo"></div>
            <div id="searchWrapper">
                <form name="theForm" novalidate>
                    <div class="left">
                        <input type="text" name="search" placeholder="Search text" ng-model="searchCriteria" ng-pattern"/^\w\W+$/" autofocus required />
                    </div>
                    <div class="right">
                        <input type="submit" ng-click="submitForm()">
                    </div>
                    <div class="clearFloat"></div>
                    <div class="errorText" ng-if="theForm.$submitted && theForm.search.$error.pattern">
                        This field is required
                    </div>
                    <div class="errorText" ng-if="theForm.$submitted && theForm.search.$error.required">
                        This field is required
                    </div>
                    <div class="errorText" ng-show="error">
                        {{ error}}
                    </div>
                </form>
            </div>
        </header>
        <nav ng-show="pageObjects.length !== 0">
            <input type="button" ng-class="{'disabled' : ndx.length === 0}" ng-click="previousPage()" value="Previous" />
            <input type="button" ng-class="{'disabled' : pageObjects.length === 0}" ng-click="nextPage()" value="{{ nextBtnVal }}" />
            <div class="clearFloat"></div>
            <div id="navInfo">{{ returnLength() }}</div>
        </nav>
        <section>
            <div id="contentWrapper">
                <div class="thumbnail" ng-repeat="page in currentPage.data">
                    <a href="{{ page.link}}" target="_blank">
                        <img src="{{ page.images.thumbnail.url }}" width="100" height="100" border="0" />
                    </a>
                </div>
            </div>
        </section>
        <div class="clearFloat"></div> 
    </body>
</html>